In [6]:
import pandas as pd
import os

print(os.getcwd())
df = pd.read_csv("D:/POSTECH/대외활동/2021 제1회 데이터사이언스경진대회/data/trainSet.csv", index_col=0)
df.tail()

d:\POSTECH\대외활동\2021 제1회 데이터사이언스경진대회\2021_SHALE_GAS_TRADING\preprocessing

,CPA Pretty Well ID,Reference (KB) Elev. (ft),Ground Elevation (ft),MD (All Wells) (ft),TVD (ft),Bot-Hole direction (N/S)/(E/W),Bot-Hole Easting (NAD83),Bot-Hole Northing (NAD83),On Prod YYYY/MM/DD,First Prod YYYY/MM,...,HRS_MONTH_27,HRS_MONTH_28,HRS_MONTH_29,HRS_MONTH_30,HRS_MONTH_31,HRS_MONTH_32,HRS_MONTH_33,HRS_MONTH_34,HRS_MONTH_35,HRS_MONTH_36
No,,,,,,,,,,,,,,,,,,,,,
708,286,3048,3027,19462,10351,0.061657,0.368939,0.543000,2017/09/19,2017/09/01,...,718.0,721.0,743.0,692.0,739.0,717.0,740.0,719.0,726.0,744.0
716,287,3081,3057,20932,10036,0.839577,0.399107,0.587987,2016/01/01,2016/01/01,...,730.0,717.0,742.0,718.0,740.0,744.0,716.0,742.0,720.0,741.0
718,288,3083,3057,20276,10112,0.342466,0.423411,0.546300,2015/04/24,2015/04/01,...,678.0,737.0,721.0,713.0,732.0,711.0,722.0,734.0,666.0,734.0
720,289,3036,3019,20728,10218,1.203390,0.411507,0.549215,2015/04/24,2015/04/01,...,703.0,743.0,731.0,687.0,736.0,707.0,729.0,736.0,669.0,740.0
722,290,3083,3061,20364,10130,0.963504,0.408422,0.544864,2015/04/13,2015/04/01,...,696.0,536.0,719.0,712.0,731.0,702.0,722.0,733.0,668.0,734.0

In [5]:
df.iloc[0]["TVD (ft)"]

10746